.DS_Store
*.o
*.zip
/Commodore/.deps
/Commodore/anykey.d64
/Commodore/anykey.d81
/Commodore/anykey-pet.d64
/Commodore/*.prg
/Commodore/*.sym
/ZX-Spectrum/*_CODE.bin
/ZX-Spectrum/*_UNASSIGNED.bin
/ZX-Spectrum/*.tap
/ZX-Spectrum/*.map
