.DS_Store
*.o
*.zip
/Commodore/.deps
/Commodore/*.d64
/Commodore/*.d81
/Commodore/*.prg
/Commodore/*.sym
/ZX-Spectrum/*_CODE.bin
/ZX-Spectrum/*_UNASSIGNED.bin
/ZX-Spectrum/*.map
/ZX-Spectrum/*.tap
/ZX-Spectrum/*.tzx
/Commodore/help-screens-128.s
/Commodore/help-screens-64.s
/Commodore/help-screens-mega65.s
/Commodore/help-screens-plus4.s
/Commodore/pet-help-footer-40.s
/Commodore/pet-help-footer-80.s
__pycache__
*.nex
