.DS_Store
*.o
*.zip
/Commodore/.deps
/Commodore/*.d64
/Commodore/*.d81
/Commodore/*.prg
/Commodore/*.sym
/ZX-Spectrum/*_CODE.bin
/ZX-Spectrum/*_UNASSIGNED.bin
/ZX-Spectrum/*.map
/ZX-Spectrum/*.tap
/ZX-Spectrum/*.tzx
